/* styles.css */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #9e7b46;
    margin-bottom: 12px;
}

.header {
    background-color: blanchedalmond;
    font-size: 48px;
    color: #ed9209;
    text-align: center;
    padding: 12px;
    margin: 24px;
}

.sub.header {
    font-size: 24px;
    text-align: left;
    width: 20%;
}

.text {
    font-size: 24px;
    color: #ed9209;
    
}

.list-container {
    display: flex;
    background-color: #9e7b46;
    border: 3px solid blanchedalmond;
    margin-left: 24px;
    margin-right: 24px;
    text-align: center;
    justify-content: space-evenly;
}

.recipe {
    background-color:blanchedalmond;
    padding: 16px;
    margin: 8px;
    height: 360px;
    width: 360px;
}

.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-height: 90%;
    max-width: 90%;
    padding: 8px;
}